<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Livraria</title>
</head>
<body>

<h1>Lista de Livros</h1>
<table>
  <thead>
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>Ano de Publicação</th>
    <th>Preço</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="livro: ${livros}">
    <td th:text="${livro.titulo}"></td>
    <td th:text="${livro.autor}"></td>
    <td th:text="${livro.anoPublicacao}"></td>
    <td th:text="${livro.preco}"></td>
  </tr>
  </tbody>
</table>

<hr>
</body>
</html>
